<div id='tracks'>
  <div id='tag_list'>
    <h2><%= t('views.tracks.index.labels.groups') %></h2>
    <div class="tag <%= @tag.nil? && 'active' %>">
      <small>
        (<%= @all_tracks.size %>)
      </small>
      <%= link_to t('views.tracks.index.labels.all'), tracks_path %>
    </div>
    <%- @tags.each do |tag| -%>
      <%- if tag.tracks.ordered.any? -%>
        <div class="tag <%= @tag == tag && 'active' %>">
          <small>
            <%= link_to "(#{tag.tracks.size})", tag, title: t('views.tracks.index.labels.view_group') %>
          </small>
          <%= link_to tag.name, tag_tracks_path(tag) %>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
  <div id='track_list'>
    <h2><%= t('views.tracks.index.labels.tracks') %></h2>
    <%= form_tag tracks_multi_view_path do %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th><%= t('views.tracks.show.labels.name') %></th>
          <%- unless @tag -%>
            <th><%= t('views.tracks.show.labels.group') %></th>
          <%- end -%>
          <th><%= t('views.tracks.show.labels.date') %></th>
          <th><%= t('views.tracks.show.labels.dist') %></th>
          <th><%= t('views.tracks.show.labels.total_time') %></th>
          <th><%= t('views.tracks.show.labels.motion_time') %></th>
          <th><%= t('views.tracks.show.labels.max_speed') %></th>
          <th><%= t('views.tracks.show.labels.avg_motion_speed') %></th>
          <th><%= t('views.tracks.show.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
      <%- @tracks.each_with_index do |track, index| -%>
        <tr>
          <td><%= check_box_tag 'tracks[]', track.code, false  %></td>
          <td><%= index + 1 %>.</td>
          <td><%= link_to track.name, track %></td>
          <%- unless @tag -%>
            <td><%= track.tag_name %></td>
          <%- end -%>
          <td class='track_date'><%= track_date track %></td>
          <td class='distance'><%= format_distance track.distance %></td>
          <td class='distance'><%= format_time_diff track.total_time %></td>
          <td class='distance'><%= format_time_diff track.motion_time %></td>
          <td class='distance'><%= format_speed track.max_speed %></td>
          <td class='distance'><%= format_speed track.avg_motion_speed %></td>
          <td class='action'>
            <%= link_to image_tag('icon_download.png'), track_path(track, format: :gpx), title: t('views.tracks.index.labels.download') %>
            <%#= link_to image_tag('icon_download.png'), track.attachment.url, title: t('views.tracks.index.labels.download') %>
          </td>
        </tr>
      <%- end -%>
      <tr><td colspan='8'><%= submit_tag 'View' %></td></tr>
      </tbody>
    </table>
    <%- end -%>
  </div>
</div>
