<div id='tracks'>
  <div id='tag_list'>
    <h2><%= t('views.tracks.index.labels.groups') %></h2>
    <ul>
      <li class="<%= @tag.nil? && 'active' %>">
        <%= link_to t('views.tracks.index.labels.all'), tracks_path %>
        <small>
          (<%= @all_tracks.size %>)
        </small>
      </li>
      <%- @tags.each do |tag| -%>
        <%- if tag.tracks.ordered.any? -%>
          <li class="<%= @tag == tag && 'active' %>">
            <%= link_to tag.name, tag_tracks_path(tag) %>
            <small>
              <%= link_to "(#{tag.tracks.size})", tag, title: t('views.tracks.index.labels.view_group') %>
            </small>
          </li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
  <div id='track_list'>
    <h2><%= t('views.tracks.index.labels.tracks') %></h2>
    <table>
      <tbody>
      <%- @tracks.each_with_index do |track, index| -%>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= link_to track.name, track %></td>
          <td><%= track.tag_name %></td>
          <td class='distance'><%= format_distance track.distance %></td>
          <%- if user_signed_in? && @tag -%>
            <td class='action'><%= link_to image_tag('icon_up.png'), up_tag_tracks_path(@tag, track), method: :put, title: t('views.tracks.index.labels.up') %></td>
            <td class='action'><%= link_to image_tag('icon_down.png'), down_tag_tracks_path(@tag, track), method: :put, title: t('views.tracks.index.labels.down') %></td>
          <%- end -%>
          <td class='action'><%= link_to image_tag('icon_download.png'), track.attachment.url, title: t('views.tracks.index.labels.download') %></td>
          <td class='action'><%= link_to image_tag('icon_edit.png'), @tag ? edit_tag_track_path(@tag, track) : edit_track_path(track), title: t('views.tracks.index.labels.edit') %></td>
          <td class='action'><%= link_to image_tag('icon_delete.png'), @tag ? tag_track_path(@tag, track) : track, method: :delete, confirm: 'Are you sure?', title: t('views.tracks.index.labels.delete') %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
