<h1>Listing tracks</h1>
<%= render 'form' %>
<br />
<div id='tracks'>
  <div id='tag_list'>
    <ul>
      <li class="<%= @tag.nil? && 'active' %>">
        <%= link_to 'All', tracks_path %>
        <small>(<%= @all_tracks.size %>)</small>
      </li>
      <%- @tags.each do |tag| -%>
        <%- if tag.tracks.any? -%>
          <li class="<%= @tag == tag && 'active' %>">
            <%= link_to tag.name, tracks_path(group: tag.code) %>
            <small>
              <%= link_to 'View', group_path(tag) %>
              (<%= tag.tracks.size %>)
            </small>
          </li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
  <div id='track_list'>
    <table>
      <tbody>
      <%- @tracks.each_with_index do |track, index| -%>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= link_to track.name, track %></td>
          <td><%= track.tag_name %></td>
          <td><%= format_distance track.distance %></td>
          <td><%= link_to 'gpx', track.attachment.url %></td>
          <td><%= link_to 'edit', edit_track_path(track) %></td>
          <td><%= link_to 'delete', track_path(track), method: :delete, confirm: 'Are you sure?' %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
