<%= javascript "http://www.openlayers.org/api/OpenLayers.js" %>
<%= javascript "http://maps.googleapis.com/maps/api/js?key=#{MapApiKeys::GOOGLE}&sensor=false" %>
<%= javascript "http://api-maps.yandex.ru/2.0-stable/?load=package.full&coordorder=longlat&lang=ru-RU" %>
<%= javascript 'map.js' %>
<%= javascript track_path(@track, format: :js) if @track %>
<%= javascript tag_path(@tag, format: :js) if @tag %>
<div id='cover'></div>
<div id="info">
  <h3><%= (@track || @tag).name %></h3>
  <table id="track_statistic">
    <%- if @track && @track.tag -%>
      <tr>
        <td colspan="2"><%= link_to @track.tag.name, tag_path(@track.tag) %></td>
      </tr>
    <%- end -%>
    <%- if @track -%>
      <tr>
        <td colspan="2">
          <span id="track_date"><%= track_date @track %></span>
        </td>
      </tr>
    <%- end -%>
    <%- if @tag -%>
      <%- (@tag.new_record? ? @tag.tracks : @tag.tracks.ordered).each do |track| -%>
        <tr>
          <th><div><%= link_to track.name, track %></div></th>
          <td><%= format_distance track.distance %></td>
        </tr>
      <%- end -%>
    <%- end -%>
    <tr>
      <th><%= t('views.tracks.show.labels.dist') %>:</th>
      <td><span id="distance_km"></span> <%= t('views.units.kilometre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.min_alt') %>:</th>
      <td><span id="ele_min"></span> <%= t('views.units.metre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.max_alt') %>:</th>
      <td><span id="ele_max"></span> <%= t('views.units.metre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.climb') %>:</th>
      <td><span id="climb"></span> <%= t('views.units.metre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.descent') %>:</th>
      <td><span id="descent"></span> <%= t('views.units.metre') %></td>
    </tr>
    <%- if @track -%>
      <tr>
        <th><%= t('views.tracks.show.labels.total_time') %>:</th>
        <td><span id="total_time"><%= format_time_diff @track.total_time %></span></td>
      </tr>
      <tr>
        <th><%= t('views.tracks.show.labels.motion_time') %>:</th>
        <td><span id="motion_time"><%= format_time_diff @track.motion_time %></span></td>
      </tr>
      <tr>
        <th><%= t('views.tracks.show.labels.max_speed') %>:</th>
        <td><span id="max_speed"><%= format_speed @track.max_speed %></span></td>
      </tr>
      <tr>
        <th><%= t('views.tracks.show.labels.avg_motion_speed') %>:</th>
        <td><span id="avg_motion_speed"><%= format_speed @track.avg_motion_speed %></span></td>
      </tr>
    <%- end -%>
    <tr>
      <th colspan='2' class='divider'><%= t('views.tracks.show.labels.selection') %>:</th>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.dist') %>:</th>
      <td><span id="selectionDistance"></span> <%= t('views.units.metre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.alt_start') %>:</th>
      <td><span id="selectionStartEle"></span> <%= t('views.units.metre') %></td>
    </tr>
    <tr>
      <th><%= t('views.tracks.show.labels.alt_end') %>:</th>
      <td><span id="selectionEndEle"></span> <%= t('views.units.metre') %></td>
    </tr>
  </table>
  <p id="undo" style="display: none;">
    <%= link_to t('views.tracks.show.labels.undo'), '#', id: 'undoLink' %>
    <span id="undoCount"></span>
    <button id='saveRemovals'>Save</button>
    <img id="sliceLoader" src="/assets/ajax-loader.gif" style="display: none;" />
  </p>
</div>
<div id="maps">
  <div id="omap" class="map"></div>
</div>
<div style="clear: both;"></div>
<div id="pointInfo">
  <table>
    <tr>
      <th><%= t('views.tracks.show.labels.time') %>:</th>
      <td><div id="time"></div></td>
      <th><%= t('views.tracks.show.labels.ele') %>:</th>
      <td><div><span id="pointEle"></span> <%= t('views.units.metre') %></div></td>
      <th><%= t('views.tracks.show.labels.speed') %>:</th>
      <td><div><span id="pointSpeed"></span> <%= t('views.units.kilometre_per_hour') %></div></td>
      <th rowspan='2'><%= t('views.tracks.show.labels.dist') %>:</th>
      <td><div><span id="pointMeters"></span> <%= t('views.units.metre') %></div></td>
      <td><div><span id="pointKms"></span> <%= t('views.units.kilometre') %></div></td>
    </tr>
  </table>
</div>
<div id="elevation">
  <div id="elevationControls">
    <button id="elevationZoomIn" title="Zoom in">+</button>
    <button id="elevationZoomOut" title="Zoom out">-</button>
    <label>E<input type="radio" name="elevatorType" value="ele" id="showEle" checked="checked"/></label>
    <label>S<input type="radio" name="elevatorType" value="speed" id="showSpeed"/></label>
    <input type="checkbox" id="followMap" title="Follow map"/>
  </div>
  <div id="elevationGraph">
    <canvas id="canvasTemplateElement"></canvas>
    <canvas id="canvasElement"></canvas>
  </div>
</div>
<%- if @track -%>
<script type="text/javascript">
  /* <![CDATA[ */
  Map.edit_mode = <%= @track.user == current_user && controller.action_name == 'edit' %>;
  /* ]]> */
</script>
<%- end -%>
