<%= javascript "http://maps.googleapis.com/maps/api/js?key=#{MapApiKeys::GOOGLE}&sensor=false" %>
<%= javascript "http://api-maps.yandex.ru/1.1/index.xml?loadByRequire=1&key=#{MapApiKeys::YANDEX}" %>
<%= javascript 'elevator.js', 'gmap.js', 'ymap.js', 'map.js' %>
<%= javascript track_path(@track, format: :js) %>

<p id="notice"><%= notice %></p>

<div id="info">
  <h3><%= @track.name %></h3>
  <table id="track_statistic">
    <tr>
      <th rowspan='2'>Distance:</th>
      <td><span id="distance_m"></span> m</td>
    </tr>
    <tr>
      <td><span id="distance_km"></span> km</td>
    </tr>
    <tr>
      <th>Altitude min:</th>
      <td><span id="ele_min"></span> m</td>
    </tr>
    <tr>
      <th>Altitude max:</th>
      <td><span id="ele_max"></span> m</td>
    </tr>
    <tr>
      <th>Climb:</th>
      <td><span id="climb"></span> m</td>
    </tr>
    <tr>
      <th>Descent:</th>
      <td><span id="descent"></span> m</td>
    </tr>
    <tr>
      <th colspan='2'>Point data:</th>
    </tr>
    <tr>
      <th>Time:</th>
      <td><span id="time"></span></td>
    </tr>
    <tr>
      <th>Elevation:</th>
      <td><span id="pointEle"></span> m</td>
    </tr>
    <tr>
      <th>Speed:</th>
      <td><span id="pointSpeed"></span> km/h</td>
    </tr>
    <tr>
      <th rowspan='2'>Distance:</th>
      <td><span id="pointMeters"></span> m</td>
    </tr>
    <tr>
      <td><span id="pointKms"></span> km</td>
    </tr>
    <tr>
      <th>Follow Map:</th>
      <td><input type="checkbox" id="followMap" /></td>
    </tr>
    <tr>
      <th rowspan='2'>Type:</th>
      <td><label><input type="radio" name="map_type" id="gmap_toggle" checked="checked" value="gmap" /> Google</label></td>
    </tr>
    <tr>
      <td><label><input type="radio" name="map_type" id="ymap_toggle"  value="ymap" /> Yandex</label></td>
    </tr>
  </table>  
</div>
<div id="maps">
  <div id="gmap" class="map"></div>
  <div id="ymap" class="map" style="display: none;"></div>
</div>
<div style="clear: both;"></div>
<div id="elevation">
  <canvas id="canvasElement"></canvas>
</div>
<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
