<%= javascript "http://www.openlayers.org/api/OpenLayers.js" %>
<%= javascript "http://maps.googleapis.com/maps/api/js?key=#{MapApiKeys::GOOGLE}&sensor=false" %>
<%= javascript "http://api-maps.yandex.ru/2.0-stable/?load=package.full&coordorder=longlat&lang=ru-RU" %>
<%= javascript 'openlayers/yandex.js', 'elevator.js', 'omap.js', 'map.js' %>
<%= javascript track_path(@track, format: :js) if @track %>
<%= javascript group_path(@tag, format: :js) if @tag %>
<div id='cover'></div>
<div id="info">
  <div>
    <strong><%= (@track || @tag).name %></strong>
    <%- if @track && @track.tag -%>
      <%= link_to @track.tag.name, group_path(@track.tag) %>
    <%- end -%>
    <%- if user_signed_in? -%>
      <small>
        <%- if @track -%>
          <%= link_to 'Edit', edit_track_path(@track) %> |
        <%- end -%>
        <%= link_to 'All tracks', tracks_path %>
      </small>
    <%- end -%>
  </div>
  <table id="track_statistic">
    <%- if @tag -%>
      <%- @tag.tracks.each do |track| -%>
        <tr>
          <th><%= link_to track.name, track %></th>
          <td><%= format_distance track.distance %></td>
        </tr>
      <%- end -%>
    <%- end -%>
    <tr>
      <th>Distance:</th>
      <td><span id="distance_km"></span> km</td>
    </tr>
    <tr>
      <th>Altitude min:</th>
      <td><span id="ele_min"></span> m</td>
    </tr>
    <tr>
      <th>Altitude max:</th>
      <td><span id="ele_max"></span> m</td>
    </tr>
    <tr>
      <th>Climb:</th>
      <td><span id="climb"></span> m</td>
    </tr>
    <tr>
      <th>Descent:</th>
      <td><span id="descent"></span> m</td>
    </tr>
    <tr>
      <th colspan='2' class='divider'>Selection:</th>
    </tr>
    <tr>
      <th>Distance:</th>
      <td><span id="selectionDistance"></span> m</td>
    </tr>
    <tr>
      <th>Elevation start:</th>
      <td><span id="selectionStartEle"></span> m</td>
    </tr>
    <tr>
      <th>Elevation end:</th>
      <td><span id="selectionEndEle"></span> m</td>
    </tr>
  </table>  
</div>
<div id="maps">
  <div id="omap" class="map"></div>
  <div id="gmap" class="map" style="display: none;"></div>
  <div id="ymap" class="map" style="display: none;"></div>
</div>
<div style="clear: both;"></div>
<div id="pointInfo">
  <table>
    <tr>
      <th>Time:</th>
      <td><div id="time"></div></td>
      <th>Elevation:</th>
      <td><div><span id="pointEle"></span> m</div></td>
      <th>Speed:</th>
      <td><div><span id="pointSpeed"></span> km/h</div></td>
      <th rowspan='2'>Distance:</th>
      <td><div><span id="pointMeters"></span> m</div></td>
      <td><div><span id="pointKms"></span> km</div></td>
    </tr>
  </table>
</div>
<div id="elevation">
  <div id="elevationControls">
    <button id="elevationZoomIn" title="Zoom in">+</button>
    <button id="elevationZoomOut" title="Zoom out">-</button>
    <input type="checkbox" id="followMap" title="Follow map"/>
  </div>
  <div id="elevationGraph">
    <canvas id="canvasElement"></canvas>
  </div>
</div>
