<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Trackdojo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="header">
    <div id="menu">
      <%- if user_signed_in? -%>
        <div class="menu_item">
          <%= link_to t('views.menu.tracks'), root_path %>
        </div>
        <div class="menu_item">
          <%= link_to t('views.menu.new_track'), new_track_path %>
        </div>
        <%- if @tag && @tag.persisted? && @tag.user == current_user -%>
          <div class="menu_item">
            <%= link_to t('views.menu.edit_group'), edit_tag_path(@tag) %>
          </div>
        <%- end -%>
        <%- if @track && !@track.new_record? && @track.user == current_user -%>
          <div class="menu_item">
            <%= link_to t('views.menu.edit_track'), edit_track_path(@track) %>
          </div>
          <div class="menu_item">
            <%= link_to t('views.menu.delete_track'), track_path(@track), method: :delete, confirm: 'Are you sure?' %>
          </div>
        <%- end -%>
      <%- end -%>
    </div>
    <div id="user_info">
      <%- if user_signed_in? -%>
        <strong><%= current_user.email %></strong>
        <%= link_to t('views.main.labels.signout'), destroy_user_session_path %>
      <%- else -%>
        <%= link_to t('views.main.labels.signin'), user_omniauth_authorize_path(:google) %>
      <%- end -%>
    </div>
  </div>
  <%- if notice || alert -%>
    <div id="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <%- end -%>
  <div id='content'>
    <%= yield %>
  </div>

</body>
</html>
